<h1>Chat</h1>

<div>
    <i id="userName"></i><input type="text" id="chatBox">
</div>

<div>
    <p id="messageLogs"></p>
</div>


<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
<script src="/socket.io/socket.io.js"></script>
<script src="/js/index/js"></script>